// fonts
$font-default: 'Roboto', sans-serif;

// viewport 
$viewportS: 641px;
$viewportM: 1025px;

// wrappers
$container: 1400px;

// colors
$black: #000000;
$white: #ffffff;
$grey1: #161616;
$grey2: #333;
$grey3: #666;
$grey4: #999;
$grey5: #e5e5e5;
$grey6: #f8f8f8;
$grey7: #cccccc;
$lightBlue: #2aa3f9;
$lightGreen: #79d492;


// social colors
$facebook: #3c5a96;
$instagram: #2b597e;
$twitter: #4bb1e1;
$youtube: #d1262b;
$tumblr: #37465c;


// font-sizes
$primary-title-size: 22px;
$secondary-title-size: 15px;